<% include template/header %>

		<!-- lead -->
		<a class="ish-row ish-fullrow ish-lead" href="/chi-tiet">
			<span class="ish-lead__caption ish-icon-up">Featured Portfolio</span>
			<div class="ish-lead__image">
				<img src="/images/header.jpg" alt="work in silent">
			</div>
			<h1 class="ish-lead__headline">
				<span class="ish-lead__headline-inner">Workin<br>Silent</span>
			</h1>
		</a>
		<!-- lead end -->



		<!-- content -->
		<div class="ish-row ish-content ish-portfolio ish-macy">

      <!-- main content -->
			<ul class="ish-portfolio-item ish-portfolio-filter">
				<li class="ish-portfolio-filter__item ish-portfolio-filter--title"><h5>Filter:</h5></li>
				<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link ish-portfolio-filter__link--active" href="#all">All</a></li>
				<% duLieuJson.sanpham.forEach(function(cat){

				 %>
				<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link" href="#<%=cat.cat%>"><%=cat.cat%></a></li>
				<%});%>
			</ul>
			<% duLieuJson.sanpham.forEach(element => {
				
			 %>
				<a class="ish-portfolio-item ish--tc13 ish-portfolio-<%=element.cat%>" href="/chi-tiet/<%=element.slug%>.<%=element.id%>">
					<div class="ish-portfolio-item__image-container">
						<img class="ish-portfolio-item__image" src="<%=element.bigImage%>" alt="business cards">
					</div>
					<div class="ish-portfolio-item__desc">
						<span class="ish-portfolio-item__title"><%=element.title %></span>
						<span class="ish-portfolio-item__subtitle"> <%=element.cat%> </span>
					</div>
				</a>
			<% }); %>
			<%# <a class="ish-portfolio-item ish--tc7 ish-portfolio-identity" href="/chi-tiet">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p2.jpg" alt="the carpets are dirty">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">The Carpets are Dirty</span>
					<span class="ish-portfolio-item__subtitle">Identity</span>
				</div>
			</a>
			<a class="ish-portfolio-item ish--tc8 ish-portfolio-mockup" href="#">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p3.jpg" alt="ipad PSD">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">iPad PSD</span>
					<span class="ish-portfolio-item__subtitle">Mockup</span>
				</div>
			</a>
			<a class="ish-portfolio-item ish--tc9 ish-portfolio-application" href="#">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p4.jpg" alt="app screen">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">App Screen</span>
					<span class="ish-portfolio-item__subtitle">Application</span>
				</div>
			</a>
			<a class="ish-portfolio-item ish--tc10 ish-portfolio-application" href="#">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p5.jpg" alt="graphic twister">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">Graphic Twister</span>
					<span class="ish-portfolio-item__subtitle">Application</span>
				</div>
			</a>
			<a class="ish-portfolio-item ish--tc11 ish-portfolio-mockup" href="#">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p6.jpg" alt="a poster">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">A Poster</span>
					<span class="ish-portfolio-item__subtitle">Mockup</span>
				</div>
			</a>
			<a class="ish-portfolio-item ish--tc12 ish-portfolio-identity" href="#">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p7.jpg" alt="identity design">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">Identity Design</span>
					<span class="ish-portfolio-item__subtitle">Identity</span>
				</div>
			</a>
			<a class="ish-portfolio-item ish--hc13 ish-portfolio-print" href="#">
				<div class="ish-portfolio-item__image-container">
					<img class="ish-portfolio-item__image" src="img/p8.jpg" alt="product brochure">
				</div>
				<div class="ish-portfolio-item__desc">
					<span class="ish-portfolio-item__title">Product Brochure</span>
					<span class="ish-portfolio-item__subtitle">Print</span>
				</div>
			</a> %>

      <!-- main content end -->
		</div>
		<!-- content end -->

<%include template/footer %>